:root {
    --background: #f0f0f1;
    --card: #ffffff;
    --card-critical: #e3b8b6;
    --card-dark: #222222;
    --card-neutral: #e3e4e6;
    --card-info: #89cdd7;
    --card-primary: #00b6ae;
    --card-success: #93ceb6;
    --card-warning: #ffb47a;
    --primary: #00b6ae;
    --text: #222222;
}
